<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Exclude>[PathReportPlugin]*,[ThrowingPlugin]*,[Bukit.Shared]System.Text.RegularExpressions.Generated.*,[Bukit.Theme]*</Exclude>
          <ExcludeByFile>**/obj/**/*.g.cs</ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
