{{ base_url = site.base_url }}
{{ if base_url == "/" }}{{ base_url = "" }}{{ end }}
<header class="site-header">
  <nav class="nav" aria-label="Primary navigation">
    <a class="brand" href="{{ base_url }}/">
      {{-- bukit:brand --}}
      {{ if site.params && site.params.brand }}
        {{ site.params.brand }}
      {{ else }}
        {{ site.title }}
      {{ end }}
    </a>
    <div class="nav-links">
      {{ if site.modules && site.modules.navigation }}
        {{ for item in site.modules.navigation }}
          {{ nav_url = "/" }}
          {{ if item.fields && item.fields.link }}
            {{ nav_url = item.fields.link.value }}
          {{ end }}
          <a href="{{ nav_url }}">{{ item.title }}</a>
        {{ end }}
      {{ else }}
        <a href="{{ base_url }}/">Home</a>
        <a href="{{ base_url }}/blog/">Blog</a>
        <a href="{{ base_url }}/pages/">Pages</a>
      {{ end }}
    </div>
  </nav>
</header>
