{{ if page.fields.pagination.value && page.fields.pagination.value.total_pages > 1 }}
<nav class="pagination" aria-label="Pagination">
  <span>
    {{ if page.fields.pagination.value.has_prev }}
      <a href="{{ if page.fields.pagination.value.page == 2 }}{{ site.base_url }}/blog/{{ else }}{{ site.base_url }}/blog/page/{{ page.fields.pagination.value.page - 1 }}/{{ end }}">
        {{ if site.params.pagination_prev_label }}
          {{ site.params.pagination_prev_label }}
        {{ end }}
      </a>
    {{ end }}
  </span>
  <span>
    {{ page.fields.pagination.value.page }} of {{ page.fields.pagination.value.total_pages }}
  </span>
  <span>
    {{ if page.fields.pagination.value.has_next }}
      <a href="{{ site.base_url }}/blog/page/{{ page.fields.pagination.value.page + 1 }}/">
        {{ if site.params.pagination_next_label }}
          {{ site.params.pagination_next_label }}
        {{ end }}
      </a>
    {{ end }}
  </span>
</nav>
{{ end }}
