{% layout "layouts/base.html" %}

<div class="page-area">
  <div class="breadcumb-overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="breadcrumb text-center">
          <div class="section-headline white-headline text-center">
            <h3>{{ page.title }}</h3>
          </div>
          <ul>
            <li class="home-bread">首页</li>
            <li>{{ page.title }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="blog-page-area area-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="row">
          <div class="blog-grid">
            {{ if page.fields && page.fields.items && page.fields.items.value && page.fields.items.value.size > 0 }}
              {{ for item in page.fields.items.value }}
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="single-blog">
                    <div class="blog-image">
                      <a class="image-scale" href="{{ if item.url }}{{ item.url }}{{ else }}{{ site.base_url }}/blog/{{ end }}">
                        <img src="{{ site.base_url }}/assets/noneimg-news.jpg" alt="{{ item.title }}" />
                      </a>
                    </div>
                    <div class="blog-content">
                      <div class="blog-title">
                      <div class="blog-meta">
                        <span class="date-type">{{ item.publish_date }}</span>
                      </div>
                        <a href="{{ if item.url }}{{ item.url }}{{ else }}{{ site.base_url }}/blog/{{ end }}"><h4>{{ item.title }}</h4></a>
                      </div>
                      <div class="blog-text">
                        <p>{{ if item.summary }}{{ item.summary }}{{ end }}</p>
                        <a class="blog-btn" href="{{ if item.url }}{{ item.url }}{{ else }}{{ site.base_url }}/blog/{{ end }}">更多</a>
                      </div>
                    </div>
                  </div>
                </div>
              {{ end }}
            {{ else }}
              <p>{{ site.params.empty_result_text }}</p>
            {{ end }}
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        {{ include "partials/sidebar.html" }}
      </div>
    </div>
  </div>
</div>
