<!DOCTYPE html>
<html lang="{{ site.language }}">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {{ if page.seo_title }}
  <title>{{ page.seo_title }} | {{ site.title }}</title>
  {{ else }}
  <title>{{ page.title }} | {{ site.title }}</title>
  {{ end }}
  {{ if page.seo_description }}
  <meta name="description" content="{{ page.seo_description }}" />
  {{ end }}
  {{ if page.seo }}
  <link rel="canonical" href="{{ page.seo.canonical }}" />
  {{ end }}
</head>
<body>
  {{ include 'partials/header.html' }}
  {{ content }}
  {{ include 'partials/footer.html' }}
</body>
</html>
